@import "~bootstrap/scss/bootstrap";

h2 {
    font-weight: bold;
    color: #333;
  }
  
  .card {
    border-radius: 15px;
  }
  
  .input-group-text {
    border-right: 0;
  }
  
  .form-control {
    border-left: 0;
    padding-left: 0;
  }
  
  .btn-pink {
    background-color: #ff4081;
    color: #fff;
  }
  
  .btn-pink:hover {
    background-color: #ff3366;
  }
  
  .form-check-label {
    margin-left: 8px;
    font-weight: 500;
  }
  
